@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: 'Montserrat', sans-serif;
}

body {
  background: #585c68;
  font-size: small;
  line-height: 22px;
  color: #555555;
}

a {
  color: inherit;
  text-decoration: none;
}

.bold {
  font-weight: 700;
  font-size: medium;
  text-transform: uppercase;
}

.context {
  font-size: medium;
}

.semi-bold {
  font-weight: 500;
  font-size: medium;
}

.resume {
  width: 220mm;
  height: auto;
  display: flex;
  margin: 50px auto;
  box-shadow: 5px 5px 15px -5px #000000;
}

@media print {
  .resume {
    margin: 0 auto;
    box-shadow: none;
  }
  body {
    background: white;
  }
}

.resume .resume_left {
  width: 35%;
  background: #2b5380;
  font-size: smaller;
}

.resume .resume_left .link {
  margin-left: 5px;
}

.resume .resume_left .resume_profile {
  width: 280px;
  height: 280px;
  display: flex;
  justify-content: center;
}

.resume .resume_left .resume_profile img {
  width: 280px;
  height: 280px;
}

.resume .resume_left .resume_content {
  padding: 0 25px;
}

.resume .title {
  margin-bottom: 5px;
}

.resume .resume_left .bold {
  color: #fff;
}

.resume .resume_left .regular {
  font-weight: 700;
  font-size: small;
  color: #b1eaff;
}

.resume .resume_item {
  padding: 15px 0;
  border-bottom: 2px solid lightgray;
}

.resume .resume_left .resume_item:last-child,
.resume .resume_right .resume_item:last-child {
  border-bottom: 0px;
}

.resume .resume_left ul li {
  display: flex;
  margin-bottom: 5px;
  align-items: center;
}

.resume .resume_left ul li:last-child {
  margin-bottom: 0 !important;
}

.resume .resume_left ul li .icon {
  color: #d5f1fc;
  margin-right: 25px;
  font-size: 16px;
  position: relative;
}

.resume .icon i,
.resume .resume_right .resume_hobby ul li i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.resume .resume_left ul li .data {
  color: #b1eaff;
}

.resume .resume_left .resume_os {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px;
}

.resume .resume_left .resume_os i {
  color: #b1eaff;
  font-size: 35px;
}

.resume .resume_left .resume_skills ul li {
  display: flex;
  color: #b1eaff;
  align-items: center;
}

.resume .resume_left .semi-bold {
  color: #fff;
  margin-bottom: 3px;
}

.resume .resume_right {
  width: auto;
  background: #fff;
  padding: 15px;
}

.resume .resume_right .bold {
  color: #2b5380;
}

.resume .resume_right ul li .info {
  margin-bottom: 20px;
}

.resume .resume_right ul li .info b {
  font-weight: 500;
}

.resume .resume_right ul li:last-child .info {
  margin-bottom: 0;
}

.resume .resume_right .resume_hobby ul {
  display: flex;
  justify-content: space-between;
}

.resume .resume_right .resume_hobby ul li {
  width: 50px;
  height: 50px;
  border: 2px solid #2b5380;
  border-radius: 50%;
  position: relative;
  color: #2b5380;
}

.resume .resume_right .resume_hobby ul li i {
  font-size: 30px;
}

.resume .resume_right .resume_hobby ul li:before {
  content: '';
  position: absolute;
  top: 20px;
  right: -97px;
  width: 97px;
  height: 2px;
  background: #2b5380;
}

.resume .resume_right .resume_hobby ul li:last-child:before {
  display: none;
}
