// change the theme
// https://getbootstrap.com/docs/4.1/getting-started/theming/#css-variables
$theme-colors: (
  'primary': #19375a,
  'secondary': #4682b4,
  'light': #e5e7eb,
  'dark': #555,
);

// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';

body {
  background-color: #fff;
}

.page {
  min-height: 900px;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.footer {
  background-color: #fafafa;
  border-top: 0.05rem solid #e5e7eb;
  padding: 3em 0 2rem 0;
}

.footer .container {
  padding-left: 15px;
  padding-right: 30px;
}

.footer .row {
  align-items: center;
  margin-bottom: 1rem;
}

.footer .row.right {
  justify-content: flex-end;
}

.footer a {
  color: var(--dark);
  margin-left: 2rem;
}

.footer a.nav-link {
  margin-left: 1rem;
}

.footer a:hover {
  text-decoration: underline;
}

.footer .copyright {
  font-size: small;
  color: var(--dark);
}

.back-to-top {
  display: flex;
  justify-content: flex-end;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  bottom: 25px; // need to be set for sticky
  margin-bottom: 25px;
  margin-right: 25px;
}

.back-to-top svg {
  width: 50px;
  height: 50px;
  cursor: pointer;
  background-color: var(--primary);
  color: white;
  border-radius: 10%;
}

.card {
  width: 18rem;
  margin: 0 1rem 1rem 0;
  border-radius: 0.5rem;
}

.card .badge {
  margin-right: 0.5rem;
  cursor: pointer;
}

.card .badge:hover {
  text-decoration: underline;
}

.card .with-margin-top {
  margin-top: 1rem;
}

.space-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  margin: 2rem 0 2rem 0;
}

.article-details {
  font-size: small;
  color: var(--dark);
}

.article-details .attribute {
  margin-right: 0.5rem;
}

.article-details svg {
  margin: 0 0.25rem 0 0;
}

.card img {
  cursor: pointer;
}

/*

Copy/paste of current boostrap media breakpoints. don't know how to use them in media as variables.

--breakpoint-xs: 0;
--breakpoint-sm: 576px;
--breakpoint-md: 768px;
--breakpoint-lg: 992px;
--breakpoint-xl: 1200px;
*/

@media (max-width: 576px) {
  .back-to-top {
    bottom: 15px;
    margin-bottom: 15px;
    margin-right: 15px;
  }

  .card {
    width: auto;
  }
}

@media (max-width: 992px) {
  .footer .row {
    justify-content: center;
  }
  .footer .row.right {
    justify-content: center;
  }
}
