name: CI

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest
      - name: Install dependencies
        run: bun install --frozen-lockfile
      - name: Build
        run: bun run build
        #env:
          #VITE_REACT_APP_GA_TRACKING_ID: ${{ secrets.REACT_APP_GA_TRACKING_ID }}
          #VITE_REACT_APP_API_URL: ${{ secrets.REACT_APP_API_URL }}
          #VITE_REACT_APP_GA_SITE_VERIFICATION: ${{ secrets.REACT_APP_GA_SITE_VERIFICATION }}
          #VITE_REACT_APP_USE_GRAPHQL: ${{ secrets.REACT_APP_USE_GRAPHQL }}
          #VITE_REACT_APP_REDIRECT: ${{ secrets.REACT_APP_REDIRECT }}
      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          branch: gh-pages
          folder: build
